@font-face {
  font-family: Rubik;
  src: url("../font/Rubik-VariableFont_wght.ttf");
}

:root {
  --Blue: #5847eb;
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: #1c1f4a;
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

body {
  background: linear-gradient(270deg, #5847eb, #1c1f4a);
  background-size: 400% 400%;
  direction: rtl;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}
@keyframes AnimationName {
  0%{background-position:0% 51%}
  50%{background-position:100% 50%}
  100%{background-position:0% 51%}
}

body {
  font-family: Rubik;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width: 375px;
}

.Head-1 {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background-color: var(--Violet-social);
  border-radius: 15px;
  padding: 15px;
  position: relative;
  top: 30px;
  z-index: 10;
  transition: ease, 300ms;
}

.Head-1:hover {
  background-color: hsl(264, 58%, 36%);
}

.Head-1 img {
  width: 60px;
  margin: 20px;
  border: 3px solid #fff;
  border-radius: 40px;
  transition: ease, 300ms;
}

.Head-1 img:hover {
  width: 80px;
}

.Head-Child-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Head-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--Dark-blue);
  height: 90px;
  padding-top: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.Head-2 p {
  opacity: 0.4;
  transition: ease-out, 500ms;
}

.Head-2 p:hover {
  opacity: 1;
  font-size: 30px;
}

.Background-card-1,
.Background-card-2,
.Background-card-3,
.Background-card-4,
.Background-card-5,
.Background-card-6 {
  border-radius: 15px;
  background-color: var(--Soft-orange-self-care);
  display: flex;
  justify-content: right;
  padding-right: 15px;
  box-sizing: border-box;
  height: 70px;
}

.Background-card-2 {
  background-color: var(--Pale-Blue);
}

.Background-card-3 {
  background-color: var(--Light-red-study);
}

.Background-card-4 {
  background-color: var(--Lime-green-exercise);
}

.Background-card-5 {
  background-color: var(--Violet-social);
}

.Background-card-6 {
  background-color: var(--Soft-orange-self-care);
}

.Background-card-1 img {
  width: 70px;
  display: block;
}

.main-content-card {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 25px;
  background-color: var(--Dark-blue);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
  transition: ease, 300ms;
}

.main-content-card:hover {
  background-color: hsl(235, 26%, 36%);
  bottom: 35px;
}

.main-content-card div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-content-card p {
  margin: 0%;
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 100px;
    flex-direction: row;
    justify-content: center;
  }

  .Head-1 {
    flex-direction: column;
    width: 200px;
    height: 234px;
    align-items: flex-start;
    top: 0px;
  }

  .Head-Child-1 {
    margin-top: 30px;
  }

  .Head-2 {
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
    padding-top: 25px;
    position: relative;
    bottom: 25px;
    border-radius: 15px;
    margin-bottom: 0px;
  }

  .section-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 20px;
  }

  .second-part-card {
    display: flex;
    flex-wrap: wrap;
  }

  .main-content-card {
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .Background-card-1,
  .Background-card-2,
  .Background-card-3,
  .Background-card-4,
  .Background-card-5,
  .Background-card-6 {
    margin-left: 15px;
    margin-right: 15px;
    width: 200px;
  }
}

@media only screen and (min-width: 1124px) {
  .section-card {
    align-items: center;
    justify-content: center;
  }

  .Background-card-1,
  .Background-card-2,
  .Background-card-3,
  .Background-card-4,
  .Background-card-5,
  .Background-card-6,
  .main-content-card {
    width: 200px;
  }
}

@media only screen and (min-width: 1345px) {
  .Background-card-1,
  .Background-card-2,
  .Background-card-3,
  .Background-card-4,
  .Background-card-5,
  .Background-card-6,
  .main-content-card {
    width: 300px;
  }

  .Head-1 {
    width: 230px;
  }
}
